body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FFFFFF;
}
li{
    list-style-type: none;
}
/* header */
header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    display: flex;
    flex-direction: row;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.web{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.studio-up{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 275px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #000000;
}
.navigation,.info,.benefits,.work-img,.worker{
    display: flex;
    flex-direction: row;
}
.studio:hover,.portfolio:hover,.contacts:hover,.mail:hover,.tel:hover{
    color: #2196F3;
}
.studio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    color: #757575;
}
.portfolio{
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    color: #757575;
}
.contacts{
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    color: #757575;
}
.tel{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    color: #757575;
}
.mail{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    color: #757575;
}
/* blue box */
.box{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.box1-word{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
button{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-word{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
/* benefits */
.our-benefits{
    position: absolute;
    width: 400;
    height: 42px;
    left: 612px;
    top: 689px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.benefits{
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.detal{
    width: 270px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.detal-op{
    width: 270px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
/* work */
.work{
    position: absolute;
    width: 396px;
    height: 42px;
    left: 612px;
    top: 939px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.box1{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.box2{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.box3{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
