.main {
    position: relative;
    width: 1600px;
    height: 1880px;
    
    background: #FFFFFF;
}

                                                               /* header */
.head {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style-type: none;
}


.mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.mail:hover {
    color: #2196F3;
}

.tel {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.tel:hover {
    color: #2196F3;
}

.webstudio {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.studio-up {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 275px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
}
hr{
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
    
    border: 1px solid #ECECEC;
}

                                                            /* main menu */
.studio {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


}

.studio:hover {
    color: #2196F3;
}

.porfolio {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.porfolio:hover {
    color: #2196F3;
}

.contacts {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.contacts:hover {
    color: #2196F3;
}

                                                  /* button */
button:hover {
    color: #FFFFFF;
    background: #2196F3;
}
button{
    cursor: pointer;
    border: 0;
}


.first-button {
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;


    background: #F5F4FA;
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

.second-button {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

.third-button {
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

.fourth-button {
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

.fifth-button {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

                                                 /* first block */

.name1{
position: absolute;
width: 322px;
height: 36px;
left: 24px;
top: 314px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}
.description1{
position: absolute;
width: 322px;
height: 30px;
left: 24px;
top: 354px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.block{
    display: flex;
    flex-direction: row;
}
.one{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.two {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.three {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
                                                    /* secod block */

.name2 {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 24px;
    top: 314px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}
.description2 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 24px;
    top: 354px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}
.four {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.five {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.six {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
                                                    /* third block */

.name3 {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 239px;
    top: 1444px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}

.description3 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 239px;
    top: 1484px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}

.seven {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.eight {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.nine {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
                                                    /* footer */
footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
    background: #2F303A;
}
.webstudioo{
    position: absolute;
    width: 145px;
    height: 31px;
    /* left: 215px;
    top: 2157px; */
    margin: 60px 1240px 161px 215px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.studioo{
    position: absolute;
    width: 145px;
    height: 31px;
    /* left: 215px;
        top: 2157px; */
    margin: 60px 1240px 161px 275px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.address{
    position: absolute;
    width: 231px;
    height: 81px;
    /* left: 215px;
    top: 2208px; */
    margin: 111px 1154px 60px 215px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.mail-down{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.mail-down:hover{
    color: #2196F3;
}
.tel-down{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.tel-down:hover{
    color: #2196F3;
}


footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;

    background: #2F303A;
}

.webstudioo {
    position: absolute;
    width: 145px;
    height: 31px;
    /* left: 215px;
    top: 2157px; */
    margin: 60px 1240px 161px 215px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.studioo {
    position: absolute;
    width: 145px;
    height: 31px;
    /* left: 215px;
        top: 2157px; */
    margin: 60px 1240px 161px 275px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.address {
    position: absolute;
    width: 231px;
    height: 81px;
    /* left: 215px;
    top: 2208px; */
    margin: 111px 1154px 60px 215px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.mail-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.mail-down:hover {
    color: #2196F3;
}

.tel-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.tel-down:hover {
    color: #2196F3;
}



